<div style="margin: 20px">
  <mat-tab-group animationsDuration="1000ms">
    <mat-tab label="first">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/UcZeORKp1nE?si=-5tRYUiBKl6Ks3Px"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </mat-tab>
    <mat-tab label="second">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/hO43Mc7kfBo?si=as04r5Q9q4mMbGqG"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </mat-tab>
  </mat-tab-group>
</div>
