<div style="margin: 20px">
  <p>Query</p>
  <mat-progress-bar mode="query" [value]="progressPercentage"></mat-progress-bar>
</div>

<div style="margin: 20px">
  <p>Buffer</p>
  <mat-progress-bar mode="buffer" [value]="progressPercentage"></mat-progress-bar>
</div>

<div style="margin: 20px">
  <p>Determinate</p>
  <mat-progress-bar mode="determinate" [value]="progressPercentage"></mat-progress-bar>
</div>

<div style="margin: 20px">
  <p>Indeterminate</p>
  <mat-progress-bar mode="indeterminate" [value]="progressPercentage"></mat-progress-bar>
</div>




